<div class="wrapper">
  <div class="screen one harry"></div>
  <div class="text-div"><span>How I write code</span></div>
  <div class="empty"></div>
  <div class="empty"></div>
  <div class="text-div"><span>How long I write code</span></div>
  <div class="screen two harry"></div>
  <div class="empty"></div>
  <div class="empty"></div>
  <div class="screen three harry"></div>
  <div class="text-div"><span>Just kidding</span></div>
  <div class="empty"></div>
  <div class="screen four harry"></div>
  <div class="empty"></div>
  <div class="screen five my-photo"></div>
</div>