<div class="wrapper">
    <h1>Recipes</h1>
    <div class="instructions">
        <h2>Instructions, details and limitations</h2>
        <p>Search recipes using either single words like "pasta", "fish" or combination "pasta with fish" or "pasta fish".</p>
        <p>The search is limited to 150 api calls a day.</p>
        <p>The recipes are provided via the free api at https://spoonacular.com/food-api.</p>
    </div>
    
    <div class="search-container">
        <input class="search-bar"
            #recipeName
            type="text" 
            placeholder="Search...">
        
        <button class="btn search-btn" type="button" (click)="searchRecipe(recipeName.value)">Search</button>
    </div>     

    <div class="recipes-container">
        <ng-container *ngFor="let recipe of recipes">
            <app-recipe
                [recipe]="recipe">
            </app-recipe>
        </ng-container>
    </div>

    <button *ngIf="recipes.length > 0" class="btn more-items">More recipes</button>

    <dialog class="details"></dialog>
</div>
<dialog class="error">
    <form method="dialog">
        <p>{{error}}</p>
        <p>Error code : {{errorCode}}</p>
        <button class="btn">Close</button>
    </form>
</dialog>
    
