<div class="main-page-wrapper">
    <h1>Adrian Volvovics</h1>
    <p class="email">{{myEmail}}</p>
    
    <h2 class="description"><span>Portfolio description</span>
        <button (click)="navigateTo('/animations')" class="btn-tldr">Just show me!</button>
    </h2>
    
    <p>The application is built in Angular 17 and it's meant as a demo to showcase Angular, JS, HTML, CSS usage.</p>
    <p>Currently built for desktop viewing</p>
    <br>
    <br>
    <h3> Contents:</h3>
    <ul>
        <li>Info page - you're viewing it right now</li>
        <li>
            <span>SVG Animations - some visual sugar</span>
            <button (click)="navigateTo('/animations')" class="btn-tldr">Show me!</button>
        </li>
        <li>
            <span>Page Transitions - various transition from one page to another</span>
            <button (click)="navigateTo('/transitions')" class="btn-tldr">Show me!</button>
        </li>
        <li>
            <span>Recipes - app showcasing api usage </span>
            <button (click)="navigateTo('/recipes')" class="btn-tldr">Show me!</button>
        </li>
        <li>To be continued...</li>
    </ul>
    <br>
    <br>
    <h3> Disclaimers:</h3>
    <ul>
        <li>Still under construction</li>
        <li>This is meant purely as a demo and it's made for showcasing, learning, testing and ... just fun.</li>
        <li>Some responsivess is done but it is currently last in the priority list</li>
        <li>The code and designs are inspired from other designers and developers work (Feel free to reuse any piece of it)</li>
        <li>I am not a UX designer, but I can replicate high fidelity designs</li>
    </ul>
</div>