<div class="main-page-wrapper">
    <h1>Adrian Volvovics</h1>
    <p class="email">{{myEmail}}</p>
    
    <h2 class="description"><span>Portfolio description</span>
        <button (click)="navigateTo('/animations')">Just show me!</button>
    </h2>
    
    <p>The application is built in Angular 17 and it's meant as a demo and test for Angular, JS, HTML, CSS usage.</p>
    <p>Currently built for desktop viewing but most things should be at least somewhat responsive.</p>
    <p>Any feedback is apreciated.</p>
    <br>
    <br>
    <h3> Contents:</h3>
    <ul>
        <li>Info page - you're viewing it right now</li>
        <li>
            <span>SVG Animations - controlled svg line drawing animations</span>
            <button (click)="navigateTo('/animations')">Show me!</button>
        </li>
        <li>
            <span>Parallax and sticky experiments with CSS and HTML and no JS</span>
            <button (click)="navigateTo('/transitions')">Show me!</button>
        </li>
        <li>
            <span>Recipes is the part of the app showcasing api usage - under construction</span>
            <button (click)="navigateTo('/recipes')">Show me!</button>
        </li>
        <li>To be continued...</li>
    </ul>
    <br>
    <br>
    <h3> Disclaimers:</h3>
    <ul>
        <li>Still under construction.</li>
        <li>This is meant purely as a demo and it's made for showcasing, learning, testing and ... just fun.</li>
        <li>Some responsivess is done but it is currently last in the priority list.</li>
        <li>The code and designs are inspired from other designers and developers work (Feel free to reuse any piece of code).</li>
        <li>I am UI/UX maker, not a designer, I can replicate high fidelity designs.</li>
    </ul>
</div>