@import "../../../../assets/less/variables.less";
@import "../../../../assets/less/common-styles.less";

.recipe-container{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top:1rem;
    span{
        flex-grow:1;
        font-size:large;
    }
}